/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
#page_container {
	position: relative;
<<<<<<< HEAD
	width:54%;
	margin: 0 auto;
	padding: 110px 75px 0 75px;
=======
	width:71%;
	margin: 0 auto;
	padding: 135px 75px 0 75px;
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
	
}

header {
	/* Stretch Goal One: Added background color to nav and set to fixed position */
	background: linear-gradient(90deg, #02ADFD 0%, #00254c 45%, #00254c 55%, #02ADFD 100%);
	position: fixed;
	width: 100%;
	height: 75px;
	z-index: 1;
	display: flex;
	justify-content: center;
}

nav { 
<<<<<<< HEAD
	width: 54%; 
=======
	width: 71%; 
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	padding: 25px 15px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	
	padding: 15px 0;
	

} 

<<<<<<< HEAD
nav a:last-child {
=======
#full-page-nav a.logo-link,
#mobile-nav a.logo-link {
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
	
	position: relative;
    padding: 0;
	margin-top: -2px; 
	text-align: right;
	background: url('../img/logo.png') no-repeat center;
	background-position-x: 0px;
<<<<<<< HEAD
	width: 159px;
	height: 45px;
	filter: invert(1); 
}
#logo-link img {
=======
	min-width: 159px;
	height: 45px;
	filter: invert(1); 
}
.logo-link img {
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
	position: absolute;
	margin-left: 0px;
	object-fit: cover;
	object-position: 102% 4px;
	width: 28px;
	height: 42px; 
}

<<<<<<< HEAD
#logo-link:hover img {
=======
.logo-link:hover img {
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
	animation-name: idea;
	animation-duration: 1s;
	animation-iteration-count: infinite;
} 

/* Stretch Goal 5: Researched Animation and implemented on the logo:hover */
@keyframes idea {
	from {filter: invert(1);}
	to {filter: invert(0);}
}


nav a:hover {
	color: black;
	font-weight: bold;
}

<<<<<<< HEAD
=======
#mobile-nav {
	display: none;
}

>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43

.hero_header {
	display: flex;
	justify-content: center;
	
	width: 100%;
	height: 460px;
}

.hero_header div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 520px;
	height: 380px;
	
}
.hero-title {
	text-align: center;
	padding: 80px 0;
}

.hero-title h1 {
	font-size: 75px;
}

#get_started {
	display: block;
	background: none;
	border: 1px solid black;
	position: relative;
	margin: 0 auto;
	width: 150px;
	padding: 7px;
	text-decoration: none;
	color: black;
}
#get_started:hover {
	cursor: pointer;
	background: #ccc;
}

.hero-img {
	position: relative;
	margin-left: 6px;
	text-align: center;
	background: url('../img/header-img.png') no-repeat center;	
}

h2 {
<<<<<<< HEAD
	font-size: 24px;
}

p, a {
	font-size: 15px;
=======
	font-size: 18px;
}

p, a {
	font-size: 12px;
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
	font-family: 'Poppins', sans-serif;
	line-height: 1.3;
}

#content {
	display: flex;
	height: 590px;
	flex-flow: column wrap;
	justify-content: space-between;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding: 40px 0;
	background: url('../img/mid-page-accent.jpg') no-repeat center;
	background-size: contain;
}

<<<<<<< HEAD
=======
#content div article {
	padding: 10px;
	text-align: justify;
}

>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
.content-top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.content-top article {
	display: block;
	width: 48%;
}

.content-bottom {
	display:flex;
}

<<<<<<< HEAD
/* .content-bottom article {
	
	width: 33%;
} */

=======
.content-bottom article {
	
	width: 33%;
}
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43

footer {
	position: relative;
	bottom: 0;
	padding: 40px 0;
}

footer a {
	color: black;
	text-decoration: none;
}

#copyright {
	text-align: center;
	position: relative;
	top: 40px;
	padding-bottom: 40px; */
	font-size: 13px;
}


<<<<<<< HEAD

=======
@media screen and (max-width: 415px) {
	#full-page-nav {
		display: none;
	}

	#mobile-nav {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		height: 110px;
		justify-content: space-around;
		align-items: center;
		padding: 10px 0 0 0;
	}
	#mobile-nav div {
		width: 100%;
		margin-top: -32px;
		background: #fff;
		text-align: center;
		border-bottom: 1px solid #ccc;
	}
	#mobile-nav a {
		color: #000;
		font-size: 12px;
		padding: 0 5px;
	}

	#mobile-nav a:hover {
		text-decoration: underline;
	}

	#page_container {
		width: 100%;
		padding: 0;
	}

	#page_container .hero_header {
		justify-content: center;
		align-items: center;
		padding-top: 100px;
		height: 350px;
		
	}
	.hero-header div {
		width: 100%;
	}

	.hero-title h1 {
		font-size: 36px;
	}
	.hero-img {
		background-size: 90%;
	}

	#content {
		height: auto;
		padding: 60px 10px;
	}
	
	.content-bottom {
		padding-top: 280px;
	}
	footer {
		padding: 40px 25px;
	}
	
}

@media screen and (max-width: 320px){
	#mobile-nav a {
		font-size: 8px;
	}
}
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
