p {
    line-height: 1.5;
}

#page_container {
    padding-top: 87px;
}

.services_header {
    padding-bottom: 36px;
}

.services-header-img {
    margin-bottom: 30px;
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43
}

#services_content {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    height: 918px;
    padding: 40px 0;
    padding-bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-around;
}

.service_card {
    width: 419px;
    height: 250px;
    background: #F4F3F4;
    border: 1px solid #ccc;
    padding: 15px;
}

.learn_more_link {
    display: block;
    background: #fff;
    width: 155px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-top: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.learn_more_link:hover {
    background: #ccc;
}

.facts {
    padding: 40px 0;
    display: flex;
    border-bottom: 2px solid #ccc;
}


.facts div ul {
    list-style-type: disc;
    margin: 10px;
    padding: 10px;
    line-height: 2;
}

<<<<<<< HEAD
=======
@media screen and (max-width: 415px) {
    #page_container {
        padding: 110px 10px;
    }
    #services_content {
        height: 1070px;
        align-content: space-around;
        padding-bottom: 30px;
    }
    .service_card {
        width: 48%;
        height: auto;
    }
    .service_card p {
        font-size: 11px;
    }

    .facts div p {
        font-size: 11px;
    }

    .facts div {
        width: 100%;
        padding: 10px;
    } 

    .facts div ul li {
        font-size: 11px;
    }

    
    .services-info-img {
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    #services_content {
        height: 1320px;
    }
    .service_card a {
        width: 100px;
        padding: 5px 0;
        font-size: 11px;
    }
}

>>>>>>> d847f0e267f157a2a03d16597bb123a25873ac43


